* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Bahnschrift Light";
}

:root {
	--bg_color: rgb(224, 232, 239);
	--btn_color: #7239ea;
}

.app {
	background-color: var(--bg_color);
	min-height: 100vh;
}

.header {
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 25px;
}

.header > img {
	height: 45px;
}

.nav {
	display: flex;
	color: var(--btn_color);
	font-size: 1.1rem;
	font-weight: 600;
}

.nav > p:first-child {
	margin-right: 4.7vw;
}

.nav > p {
	border-radius: 5px;
	padding: 3px 5px;
}

.nav > p:hover {
	color: white;
	background-color: var(--btn_color);
}

.container {
	display: flex;
	flex-wrap: wrap;
	/* margin: auto; */
	gap: 10px;
	background-color: var(--bg_color);
	width: 100%;
	padding: 10px;
	height: auto;
}

.left {
	flex: 1 1 200px;
	height: auto;
	padding: 10px;
	border-radius: 5px;
	background-color: white;
}

.right {
	position: relative;
	flex: 1 1 300px;
	height: 550px;
	background-color: white;
	border-radius: 5px;
	width: 100%;
}
.option {
	border: 2px solid var(--btn_color);
	border-radius: 5px;
	background-color: var(--bg_color);
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
	height: 150px;
	width: auto;
	gap: 5px 5px;
	padding: 5px;
}

.option > img {
	height: 75px;
	width: 75px;
	margin: auto;
	border-radius: 5px;
	box-sizing: content-box;
	border: 2px solid var(--btn_color);
	padding: 2px;
	cursor: pointer;
}

.option > img:hover {
	background-color: var(--btn_color);
}

.rheader,
.panel_header {
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	margin-top: -5px;
	padding-bottom: 5px;
	background-color: var(--bg_color);
}

.rheader > h2,
.panel_header > h2 {
	padding: 3px;
	padding-top: 0;
	top: 0px;
	color: var(--btn_color);
	background-color: var(--bg_color);
	position: sticky;
}

.styletext {
	color: var(--btn_color);
	font-weight: bold;
	padding-left: 2px;
	padding-bottom: 5px;
}

.promt_input {
	width: 100%;
	height: 150px;
	font-family: inherit;
	padding: 5px;
	background-color: var(--bg_color);
	font-size: 1.2rem;
	box-shadow: 1px 1px 2px black;
	border-radius: 5px;
}

.buttons {
	display: flex;
	gap: 5px;
	margin-bottom: 15px;
}

button {
	display: flex;
	/* flex:1; */
	align-items: center;
	justify-content: center;
	gap: 5px;
	cursor: pointer;
	padding: 5px 10px;
	color: whitesmoke;
	background-color: var(--btn_color);
	font-size: 1.2rem;
	border: none;
	border-radius: 5px;
}

button:hover {
	background-color: #4f21b3;
}

.isLoading {
	margin: 10px 0;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #fffbfb;
	border-radius: 100px;
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 10px rgb(0, 0, 0);
}

.horizontal > input,
.vertical > input {
	display: block;
	width: 300px;
	height: 5px;
	background-color: var(--bg_color);
	margin-top: 3px;
	margin-bottom: 15px;
}

.horizontal > input::-webkit-slider-thumb,
.vertical > input::-webkit-slider-thumb {
	background: var(--btn_color);
	cursor: pointer;
}

.bubble {
	position: absolute;
	width: 200px;
	height: auto;
	top: 0;
	z-index: 2;
}

.right > img {
	width: 100%;
	max-height: 512px;
	margin: auto;
	display: block;
	border-radius: 5px;
	object-fit: contain;
}

.panel {
	position: relative;
	margin: 10px auto;
	width: min(550px, 96vw);
	height: 80vh;
	background-color: var(--bg_color);
	display: flex;
	flex-direction: column;
	gap: 5px;
	overflow-x: auto;
}

.panel_header {
	position: sticky;
	top: -0.5px;
	padding-top: 10px;
	background-color: var(--bg_color);
}

.parentDiv>img{
	width: 100%;
}
